In [2]:
%cd "C:\Users\srava\Downloads"

C:\Users\srava\Downloads

In [4]:
movie18=pd.read_csv("movie18.csv")

In [5]:
movie18.head()

,Unnamed: 0,title,cast_and_crew
0,0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...
1,1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...
2,2,Stratton,"Simon West (director); Duncan Falconer, Warren..."
3,3,Sweet Country,"Warwick Thornton (director); David Tranter, St..."
4,4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...

In [6]:
movie19=pd.read_csv("movie19.csv")

In [ ]:
movie19.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Adam Robitel (director); Bragi F. Schut, Maria...
1           1  ...  Jen McGowan (director); Julie Lipson (screenpl...
2           2  ...  Wilson Coneybeare (director/screenplay); Donal...
3           3  ...  Charles Martin Smith (director); W. Bruce Came...
4           4  ...  Neil Burger (director); Jon Hartmere (screenpl...

[5 rows x 3 columns]

In [7]:
movie20=pd.read_csv("movie20.csv")

In [8]:
movie20.head()

,Unnamed: 0,title,cast_and_crew
0,0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...
1,1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...
2,2,Locked Down,Doug Liman (director); Steven Knight (screenpl...
3,3,The Dig,Simon Stone (director); Moira Buffini (screenp...
4,4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Ro..."

In [9]:
movie21=pd.read_csv("movie21.csv")

In [10]:
genre18=pd.read_csv("genre18new.csv")

In [11]:
genre18.head()

,Unnamed: 0,title,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,0,Venom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Crazy Rich Asians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Deadpool 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Avengers: Infinity War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,The Nightingale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.DataFrame(list(genre18.iloc[50])).z

In [127]:
genre18.iloc[296]["title"]

'[\'Venom\', \'Crazy Rich Asians\', \'Deadpool 2\', \'Avengers: Infinity War\', \'The Nightingale\', \'Ready Player One\', \'Spider-Man: Into the Spider-Verse\', \'Hereditary\', \'Black Panther\', \'Replicas\', \'Beautiful Boy\', \'Mission: Impossible - Fallout\', \'Halloween\', \'Bohemian Rhapsody\', \'A Quiet Place\', \'Fantastic Beasts: The Crimes of Grindelwald\', \'Aquaman\', \'The Predator\', \'Ghostland\', \'Suspiria\', \'Green Book\', \'Solo: A Star Wars Story\', \'Jurassic World: Fallen Kingdom\', \'A Star Is Born\', \'Annihilation\', \'Mary Poppins Returns\', \'A Simple Favor\', \'Isle of Dogs\', \'The Ballad of Buster Scruggs\', \'Bad Times at the El Royale\', \'Fifty Shades Freed\', "Ocean\'s Eight", \'The Grinch\', \'Widows\', \'Ant-Man and the Wasp\', \'City of Lies\', \'Little Italy\', \'The Favourite\', \'Red Sparrow\', \'The House That Jack Built\', \'Bird Box\', \'BlacKkKlansman\', \'Vice\', \'Outlaw King\', \'Capharnaüm\', \'Robin Hood\', "The Girl in the Spider\'s Web", \'Sicario: Day of the Soldado\', \'The Meg\', \'Game Night\']'

In [8]:
genre19=pd.read_csv("/content/genre19.csv")

In [9]:
genre20=pd.read_csv("/content/genre20.csv")

In [10]:
genre21=pd.read_csv("/content/genre21.csv")

In [ ]:
genre18.head()

   Unnamed: 0                   title                       genre  Unnamed: 0.1
0           0                   Venom   Action, Adventure, Sci-Fi           NaN
1           1       Crazy Rich Asians      Comedy, Drama, Romance           NaN
2           2              Deadpool 2   Action, Adventure, Comedy           NaN
3           3  Avengers: Infinity War   Action, Adventure, Sci-Fi           NaN
4           4         The Nightingale  Adventure, Drama, Thriller           NaN

In [ ]:
genre18.head(30)

    Unnamed: 0  ... Unnamed: 0.1
0            0  ...          NaN
1            1  ...          NaN
2            2  ...          NaN
3            3  ...          NaN
4            4  ...          NaN
5            5  ...          NaN
6            6  ...          NaN
7            7  ...          NaN
8            8  ...          NaN
9            9  ...          NaN
10          10  ...          NaN
11          11  ...          NaN
12          12  ...          NaN
13          13  ...          NaN
14          14  ...          NaN
15          15  ...          NaN
16          16  ...          NaN
17          17  ...          NaN
18          18  ...          NaN
19          19  ...          NaN
20          20  ...          NaN
21          21  ...          NaN
22          22  ...          NaN
23          23  ...          NaN
24          24  ...          NaN
25          25  ...          NaN
26          26  ...          NaN
27          27  ...          NaN
28          28  ...          NaN
29          29  ...          NaN

[30 rows x 4 columns]

In [138]:
genre19.head()

   Unnamed: 0                             title                      genre
0           0                          The King  Biography, Drama, History
1           1                        Knives Out       Comedy, Crime, Drama
2           2                 Avengers: Endgame   Action, Adventure, Drama
3           3  Once Upon a Time... In Hollywood              Comedy, Drama
4           4           Jumanji: The Next Level  Action, Adventure, Comedy

In [ ]:
genre20.head()

   Unnamed: 0                  title                      genre
0           0               365 Days             Drama, Romance
1           1   The Forgotten Battle                 Drama, War
2           2                  Tenet   Action, Sci-Fi, Thriller
3           3  Promising Young Woman      Crime, Drama, Mystery
4           4        The Night House  Horror, Mystery, Thriller

In [ ]:
genre21.head()

   Unnamed: 0                 title                        genre
0           0              Eternals   Action, Adventure, Fantasy
1           1                  Dune     Action, Adventure, Drama
2           2  The Harder They Fall       Action, Drama, Western
3           3            Red Notice        Action, Comedy, Crime
4           4        No Time to Die  Action, Adventure, Thriller

In [ ]:
movie18.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Adam Robitel (director); Leigh Whannell (scree...
1           1  ...  Lauren Wolkstein (director); Christopher Radcl...
2           2  ...  Simon West (director); Duncan Falconer, Warren...
3           3  ...  Warwick Thornton (director); David Tranter, St...
4           4  ...  Jaume Collet-Serra (director); Byron Willinger...

[5 rows x 3 columns]

In [55]:
moviefinal18=pd.merge(movie18,genre18,on="title")

In [ ]:
moviefinal18.head()

   Unnamed: 0_x               title  ...                      genre  Unnamed: 0.1
0            23  Fifty Shades Freed  ...   Drama, Romance, Thriller           NaN
1            30       Black Panther  ...  Action, Adventure, Sci-Fi           NaN
2            37          Game Night  ...      Action, Comedy, Crime           NaN
3            38        Annihilation  ...   Adventure, Drama, Horror           NaN
4            42         Red Sparrow  ...    Action, Drama, Thriller           NaN

[5 rows x 6 columns]

In [56]:
moviefinal18.drop(["Unnamed: 0_x","Unnamed: 0_y","Unnamed: 0.1"],axis=1,inplace=True)

In [ ]:
moviefinal18.head()

                title  ...                      genre
0  Fifty Shades Freed  ...   Drama, Romance, Thriller
1       Black Panther  ...  Action, Adventure, Sci-Fi
2          Game Night  ...      Action, Comedy, Crime
3        Annihilation  ...   Adventure, Drama, Horror
4         Red Sparrow  ...    Action, Drama, Thriller

[5 rows x 3 columns]

In [13]:
moviefinal19=pd.merge(movie19,genre19,on="title")

In [ ]:
moviefinal19.head()

   Unnamed: 0_x  ...                      genre
0             0  ...  Action, Adventure, Horror
1            25  ...  Action, Adventure, Sci-Fi
2            27  ...   Biography, Comedy, Drama
3            31  ...  Action, Adventure, Sci-Fi
4            42  ...  Horror, Mystery, Thriller

[5 rows x 5 columns]

In [14]:
moviefinal19.drop(["Unnamed: 0_x","Unnamed: 0_y"],axis=1,inplace=True)

In [ ]:
moviefinal19.head()

                     title  ...                      genre
0              Escape Room  ...  Action, Adventure, Horror
1      Alita: Battle Angel  ...  Action, Adventure, Sci-Fi
2  Fighting with My Family  ...   Biography, Comedy, Drama
3           Captain Marvel  ...  Action, Adventure, Sci-Fi
4                       Us  ...  Horror, Mystery, Thriller

[5 rows x 3 columns]

In [15]:
moviefinal20=pd.merge(movie20,genre20,on="title")

In [ ]:
moviefinal20.head()

   Unnamed: 0_x         title  ... Unnamed: 0_y                     genre
0            15     Nomadland  ...            5                     Drama
1            28        Minari  ...           23                     Drama
2            36  I Care a Lot  ...           34   Comedy, Crime, Thriller
3            50    Boss Level  ...           26   Action, Mystery, Sci-Fi
4            57   The Courier  ...            9  Drama, History, Thriller

[5 rows x 5 columns]

In [16]:
moviefinal20.drop(["Unnamed: 0_x","Unnamed: 0_y"],axis=1,inplace=True)

In [17]:
moviefinal21=pd.merge(movie21,genre21,on="title")

In [ ]:
moviefinal21.head()

   Unnamed: 0_x             title  ... Unnamed: 0_y                      genre
0            98  Army of the Dead  ...           20      Action, Crime, Horror
1           109           Cruella  ...           45   Adventure, Comedy, Crime
2           158       Black Widow  ...           25  Action, Adventure, Sci-Fi
3           172               Old  ...           32     Drama, Horror, Mystery
4           179     Jungle Cruise  ...           23  Action, Adventure, Comedy

[5 rows x 5 columns]

In [18]:
moviefinal21.drop(["Unnamed: 0_x","Unnamed: 0_y"],axis=1,inplace=True)

In [57]:
moviefinal18["cast_and_crew"][0]

'James Foley (director); Niall Leonard (screenplay); Dakota Johnson, Jamie Dornan, Kim Basinger, Eric Johnson, Rita Ora, Luke Grimes, Victor Rasuk, Jennifer Ehle, Marcia Gay Harden'

In [30]:
type(moviefinal18["cast_and_crew"][0])

str

In [58]:
moviefinal18["director_and_actor"]=moviefinal18["cast_and_crew"].apply(lambda x :[b for b in x.split(",") if "director" in b] )

In [83]:
moviefinal18["director_and_actor"].head(10)

0    [James Foley (director); Niall Leonard (screen...
1    [Ryan Coogler (director/​screenplay); Joe Robe...
2    [ John Francis Daley (directors); Mark Perez (...
3    [Alex Garland (director/screenplay); Natalie P...
4    [Francis Lawrence (director); Justin Haythe (s...
5    [Wes Anderson (director/screenplay); Bryan Cra...
6          [Steven Spielberg (director); Ernest Cline]
7    [John Krasinski (director/screenplay); Scott B...
8    [Anthony Russo and Joe Russo (directors); Chri...
9               [David Leitch (director); Rhett Reese]
Name: director_and_actor, dtype: object

In [86]:
moviefinal18["director_name"]=moviefinal18["director_and_actor"].apply(lambda x :[b for b in x[0].split(";") if "director" in b])

In [93]:
type(moviefinal18["director_name"][0])

list

In [95]:
moviefinal18["director_name"]=moviefinal18["director_name"].apply(lambda x : x[0].strip("'(director)','(director/​screenplay)','(directors)'"))

In [96]:
moviefinal18["director_name"].head()

0            James Foley
1           Ryan Coogler
2     John Francis Daley
3           Alex Garland
4       Francis Lawrence
Name: director_name, dtype: object

In [98]:
moviefinal18["director_and_actor"][4]

['Francis Lawrence (director); Justin Haythe (screenplay); Jennifer Lawrence']

In [117]:
moviefinal18["actors"]=moviefinal18["director_and_actor"].apply(lambda x : [b for b in x[0].split(";") if "(director)" not in b  and  "(screenplay)" not in b  and "(director/screenplay)" not in b and "(director/​screenplay)" not in b  and "(directors)" not in b and "(co-director)" not in b and "(directors/screenplay)" not in b] )

In [119]:
moviefinal18["actors"]

0                      [ Dakota Johnson]
1                    [ Chadwick Boseman]
2                       [ Jason Bateman]
3                     [ Natalie Portman]
4                   [ Jennifer Lawrence]
5                      [ Bryan Cranston]
6                        [ Ernest Cline]
7                          [ Scott Beck]
8                   [ Robert Downey Jr.]
9                         [ Rhett Reese]
10                    [ Lawrence Kasdan]
11                      [ Toni Collette]
12                     [ Derek Connolly]
13                   [ Benicio del Toro]
14                      [ Chris McKenna]
15                     [ Dean Georgaris]
16                          [ Spike Lee]
17                    [ Peter Chiarelli]
18                      [ Boyd Holbrook]
19                      [ Anna Kendrick]
20                       [ Jeff Pinkner]
21                          [ Eric Roth]
22                       [ Jeff Bridges]
23                       [ Steve Carell]
24                       [ Jeff Fradley]
25                     [ Dakota Johnson]
26                         [ Rami Malek]
27                    [ Michael LeSieur]
28                      [ Steven Knight]
29                   [ Tim Blake Nelson]
30                     [ Eddie Redmayne]
31                        [ Viola Davis]
32                 [ Brian Hayes Currie]
33                       [ Ben Chandler]
34                      [ Deborah Davis]
35                     [ Zain Al Rafeea]
36                          [ Phil Lord]
37                        [ Emily Blunt]
38    [ David Leslie Johnson-McGoldrick]
39                     [ Christian Bale]
Name: actors, dtype: object

In [120]:
movie18.shape

(270, 3)

In [122]:
genre18.shape

(300, 4)