In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pip install autoscraper

Collecting autoscraper
  Downloading autoscraper-1.1.12-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autoscraper) (2.23.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from autoscraper) (0.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from autoscraper) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->autoscraper) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (1.24.3)
Installing collected packages: autoscraper
Successfully installed autoscraper-1.1.12

In [4]:
from autoscraper import AutoScraper

In [27]:
scraper=AutoScraper()

In [ ]:
#url="https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [ ]:
#wanted_list=["Insidious: The Last Key","Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison"]

In [ ]:
#result=scraper.build(url,wanted_list)

In [ ]:
#result1=scraper.get_result_similar(url,grouped=True)

In [ ]:
#result1

In [ ]:
#scraper.set_rule_aliases({"rule_n6v2":"title","rule_qwrt":"cast_and_crew"})
#scraper.keep_rules(["rule_n6v2","rule_qwrt"])

In [ ]:
#result2=scraper.get_result_similar(url,group_by_alias=True)

In [ ]:
#pd.DataFrame(result2).to_csv("movie18.csv")

# 2019 movies

In [ ]:
#url1="https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [ ]:
#result19=scraper.get_result_similar(url1,group_by_alias=True)

In [ ]:
#pd.DataFrame(result19).to_csv("movie19.csv")

# 2020 movies

In [ ]:
#url2="https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [ ]:
#result20=scraper.get_result_similar(url2,group_by_alias=True)

In [ ]:
#pd.DataFrame(result20).to_csv("movie20.csv")

# 2021 movies

In [ ]:
#url3="https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [ ]:
#result21=scraper.get_result_similar(url3,group_by_alias=True)

In [ ]:
#pd.DataFrame(result21).to_csv("movie21.csv")

# genre list for 2018

In [28]:
gen="https://www.imdb.com/search/title/?year=2018&title_type=feature&"

In [41]:
wanted_list=["Crazy Rich Asians","Comedy, Drama, Romance"]

In [42]:
scraper1=AutoScraper()

In [43]:
res=scraper1.build(gen,wanted_list)

In [ ]:
res

In [45]:
res1=scraper1.get_result_similar(gen,grouped=True)

In [46]:
res1

{'rule_jksv': ['Venom',
  'Crazy Rich Asians',
  'Deadpool 2',
  'Avengers: Infinity War',
  'Spider-Man: Into the Spider-Verse',
  'Ready Player One',
  'Black Panther',
  'Bohemian Rhapsody',
  'Vice',
  'Hereditary',
  'The Nightingale',
  'Aquaman',
  'Beautiful Boy',
  'A Quiet Place',
  "Ocean's Eight",
  'Green Book',
  'The Grinch',
  'Suspiria',
  'A Star Is Born',
  'The Predator',
  'Mission: Impossible - Fallout',
  'Jurassic World: Fallen Kingdom',
  'Fantastic Beasts: The Crimes of Grindelwald',
  'Red Sparrow',
  'The Princess Switch',
  'Ant-Man and the Wasp',
  'Solo: A Star Wars Story',
  'The Ballad of Buster Scruggs',
  'The Favourite',
  'Hunter Killer',
  'Annihilation',
  'The Christmas Chronicles',
  'Fifty Shades Freed',
  'Halloween',
  'Mamma Mia! Here We Go Again',
  'Isle of Dogs',
  'White Boy Rick',
  'The House That Jack Built',
  'The Mule',
  'Outlaw King',
  'Capernaum',
  'Incident in a Ghostland',
  'A Simple Favor',
  'Bird Box',
  'Ophelia',
  'Game Night',
  'Skyscraper',
  'BlacKkKlansman',
  'A Vigilante',
  'The Equalizer 2'],
 'rule_o17b': ['Venom',
  'Crazy Rich Asians',
  'Deadpool 2',
  'Avengers: Infinity War',
  'Spider-Man: Into the Spider-Verse',
  'Ready Player One',
  'Black Panther',
  'Bohemian Rhapsody',
  'Vice',
  'Hereditary',
  'The Nightingale',
  'Aquaman',
  'Beautiful Boy',
  'A Quiet Place',
  "Ocean's Eight",
  'Green Book',
  'The Grinch',
  'Suspiria',
  'A Star Is Born',
  'The Predator',
  'Mission: Impossible - Fallout',
  'Jurassic World: Fallen Kingdom',
  'Fantastic Beasts: The Crimes of Grindelwald',
  'Red Sparrow',
  'The Princess Switch',
  'Ant-Man and the Wasp',
  'Solo: A Star Wars Story',
  'The Ballad of Buster Scruggs',
  'The Favourite',
  'Hunter Killer',
  'Annihilation',
  'The Christmas Chronicles',
  'Fifty Shades Freed',
  'Halloween',
  'Mamma Mia! Here We Go Again',
  'Isle of Dogs',
  'White Boy Rick',
  'The House That Jack Built',
  'The Mule',
  'Outlaw King',
  'Capernaum',
  'Incident in a Ghostland',
  'A Simple Favor',
  'Bird Box',
  'Ophelia',
  'Game Night',
  'Skyscraper',
  'BlacKkKlansman',
  'A Vigilante',
  'The Equalizer 2'],
 'rule_xppe': ['Action, Adventure, Sci-Fi',
  'Comedy, Drama, Romance',
  'Action, Adventure, Comedy',
  'Action, Adventure, Sci-Fi',
  'Animation, Action, Adventure',
  'Action, Adventure, Sci-Fi',
  'Action, Adventure, Sci-Fi',
  'Biography, Drama, Music',
  'Biography, Comedy, Drama',
  'Drama, Horror, Mystery',
  'Adventure, Drama, Thriller',
  'Action, Adventure, Fantasy',
  'Biography, Drama',
  'Drama, Horror, Sci-Fi',
  'Action, Comedy, Crime',
  'Biography, Comedy, Drama',
  'Animation, Adventure, Comedy',
  'Drama, Fantasy, Horror',
  'Drama, Music, Romance',
  'Action, Adventure, Sci-Fi',
  'Action, Adventure, Thriller',
  'Action, Adventure, Sci-Fi',
  'Adventure, Family, Fantasy',
  'Action, Drama, Thriller',
  'Comedy, Drama, Family',
  'Action, Adventure, Comedy',
  'Action, Adventure, Sci-Fi',
  'Comedy, Drama, Musical',
  'Biography, Comedy, Drama',
  'Action, Thriller',
  'Adventure, Drama, Horror',
  'Adventure, Comedy, Family',
  'Drama, Romance, Thriller',
  'Crime, Horror, Thriller',
  'Comedy, Musical, Romance',
  'Animation, Adventure, Comedy',
  'Crime, Drama',
  'Crime, Drama, Horror',
  'Crime, Drama, Thriller',
  'Action, Biography, Drama',
  'Drama',
  'Drama, Horror, Mystery',
  'Comedy, Crime, Mystery',
  'Horror, Sci-Fi',
  'Drama, Romance, Thriller',
  'Action, Comedy, Crime',
  'Action, Adventure, Thriller',
  'Biography, Comedy, Crime',
  'Crime, Drama, Mystery',
  'Action, Crime, Thriller']}

In [ ]:
res1

In [13]:
scraper1.set_rule_aliases({"rule_bv2w":"title","":"genre"})
scraper1.keep_rules(["rule_b1r0","rule_v857"])

In [14]:
res1=scraper1.get_result_similar(gen,group_by_alias=True)

In [ ]:
res1

In [ ]:
len(res1)

2

In [ ]:
#inlist=np.arange(51,12550,50)

In [ ]:
#res2=[]
#for v in inlist:
    #gen1="https://www.imdb.com/search/title/?title_type=feature&year=2018-01-01,2018-12-31&start={}&ref_=adv_nxt".format(v)
    #resd=scraper1.get_result_similar(gen1,group_by_alias=True)
    #res2.append(resd)

In [ ]:
#pd.DataFrame(res2).to_csv("genre.csv")

In [ ]:
#ress=pd.DataFrame(res2)

In [ ]:
#ress.head()

,title,genre
0,"[Tomb Raider, Bumblebee, Den skyldige, Incredi...","[Action, Adventure, Fantasy, Action, Adventure..."
1,"[12 Strong, MILF, To All the Boys I've Loved B...","[Action, Drama, History, Comedy, Comedy, Drama..."
2,"[Thunder Road, Hotel Mumbai, Durante la tormen...","[Comedy, Drama, Action, Drama, History, Drama,..."
3,"[Between Earth and Sky, Kimi no suizô o tabet...","[Crime, Drama, Mystery, Animation, Drama, Fami..."
4,"[Vita & Virginia, Accident Man, Skin, The Week...","[Biography, Drama, Romance, Action, Crime, Thr..."

In [ ]:
movie18=pd.read_csv("/content/movie18.csv")

In [ ]:
movie19=pd.read_csv("/content/movie19.csv")

In [ ]:
movie20=pd.read_csv("/content/movie20.csv")

In [ ]:
movie21=pd.read_csv("/content/movie21.csv")

In [16]:
genre18=pd.read_csv("/content/genre.csv")

In [ ]:
movie18.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Adam Robitel (director); Leigh Whannell (scree...
1           1  ...  Lauren Wolkstein (director); Christopher Radcl...
2           2  ...  Simon West (director); Duncan Falconer, Warren...
3           3  ...  Warwick Thornton (director); David Tranter, St...
4           4  ...  Jaume Collet-Serra (director); Byron Willinger...

[5 rows x 3 columns]

In [ ]:
movie19.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Adam Robitel (director); Bragi F. Schut, Maria...
1           1  ...  Jen McGowan (director); Julie Lipson (screenpl...
2           2  ...  Wilson Coneybeare (director/screenplay); Donal...
3           3  ...  Charles Martin Smith (director); W. Bruce Came...
4           4  ...  Neil Burger (director); Jon Hartmere (screenpl...

[5 rows x 3 columns]

In [ ]:
movie20.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Roseanne Liang (director/screenplay); Max Land...
1           1  ...  Ramin Bahrani (director/screenplay); Adarsh Go...
2           2  ...  Doug Liman (director); Steven Knight (screenpl...
3           3  ...  Simon Stone (director); Moira Buffini (screenp...
4           4  ...  Mikael Håfström (director); Rob Yescombe, Ro...

[5 rows x 3 columns]

In [ ]:
movie21.head()

   Unnamed: 0  ...                                      cast_and_crew
0           0  ...  Roseanne Liang (director/screenplay); Max Land...
1           1  ...  Ramin Bahrani (director/screenplay); Adarsh Go...
2           2  ...  Doug Liman (director); Steven Knight (screenpl...
3           3  ...  Simon Stone (director); Moira Buffini (screenp...
4           4  ...  Mikael Håfström (director); Rob Yescombe, Ro...

[5 rows x 3 columns]

In [ ]:
genre18.head()

   Unnamed: 0  ...                                              genre
0           0  ...  ['Action, Adventure, Fantasy', 'Action, Advent...
1           1  ...  ['Action, Drama, History', 'Comedy', 'Comedy, ...
2           2  ...  ['Comedy, Drama', 'Action, Drama, History', 'D...
3           3  ...  ['Crime, Drama, Mystery', 'Animation, Drama, F...
4           4  ...  ['Biography, Drama, Romance', 'Action, Crime, ...

[5 rows x 3 columns]

In [17]:
genre18=pd.concat([pd.DataFrame(res1),genre18],axis=0)

In [18]:
genre18.to_csv("newgenre18.csv")

In [ ]:
gen19="https://www.imdb.com/search/title/?year=2019&title_type=feature&"

In [ ]:
res1=scraper1.get_result_similar(gen19,group_by_alias=True)

In [ ]:
res1

In [ ]:
inlist1=np.arange(51,12000,50)

In [ ]:
res3=[]
for t in inlist1:
  gen1="https://www.imdb.com/search/title/?title_type=feature&year=2019-01-01,2019-12-31&start={}&ref_=adv_nxt".format(t)
  f=scraper1.get_result_similar(gen1,group_by_alias=True)
  res3.append(f)

In [ ]:
res3

In [ ]:
genre19=pd.DataFrame(res3,columns=["title","genre"])

In [ ]:
genre19.head()

                                               title                                              genre
0  [Marriage Story, Official Secrets, The Lion Ki...  [Comedy, Drama, Romance, Biography, Crime, Dra...
1  [Saint Maud, Guns Akimbo, The Hustle, Judy, Go...  [Drama, Horror, Mystery, Action, Comedy, Crime...
2  [Waiting for the Barbarians, The Mortuary Coll...  [Drama, Fantasy, Horror, Animation, Drama, Fan...
3  [Aquaslash, Someone Great, Blinded by the Ligh...  [Comedy, Horror, Comedy, Romance, Comedy, Dram...
4  [The Wandering Earth, War, Poms, Jexi, Satanic...  [Action, Adventure, Sci-Fi, Action, Adventure,...

In [ ]:
gen19=pd.DataFrame(res1,columns=["title","genre"])

In [ ]:
genre19=pd.concat([gen19,genre19],axis=0)

In [ ]:
genre19.to_csv("genre19.csv")

In [ ]:
gen20="https://www.imdb.com/search/title/?year=2020&title_type=feature&"

In [ ]:
res20=scraper1.get_result_similar(gen20,group_by_alias=True)

In [ ]:
res20

In [ ]:
inlist2=np.arange(51,10000,50)

In [ ]:
res200=[]
for e in inlist2:
  gen200="https://www.imdb.com/search/title/?title_type=feature&year=2020-01-01,2020-12-31&start={}&ref_=adv_nxt".format(e)
  c=scraper1.get_result_similar(gen200,group_by_alias=True)
  res200.append(c)

In [ ]:
res200

In [ ]:
genre20=pd.concat([pd.DataFrame(res20),pd.DataFrame(res200)])

In [ ]:
genre20.to_csv("genre20.csv")

In [ ]:
gen21="https://www.imdb.com/search/title/?year=2021&title_type=feature&"

In [ ]:
res21=scraper1.get_result_similar(gen21,group_by_alias=True)

In [ ]:
inlist4=np.arange(51,12000,50)

In [ ]:
res211=[]
for h in inlist4:
  gen211="https://www.imdb.com/search/title/?title_type=feature&year=2021-01-01,2021-12-31&start={}&ref_=adv_nxt".format(h)
  res212=scraper1.get_result_similar(gen211,group_by_alias=True)
  res211.append(res212)

In [ ]:
genre21=pd.concat([pd.DataFrame(res21),pd.DataFrame(res211)],axis=0)

In [ ]:
genre21.to_csv("genre21.csv")