In [45]:
import pandas as pd

In [46]:
df=pd.read_csv("Classification_Model_data.csv")

In [47]:
df.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1,842,0,2.2,0,1,0,7,0.6,188,...,20,756,2549,9,7,19,0,0,1,1
1,2,1021,1,0.5,1,0,1,53,0.7,136,...,905,1988,2631,17,3,7,1,1,0,2
2,3,563,1,0.5,1,2,1,41,0.9,145,...,1263,1716,2603,11,2,9,1,1,0,2
3,4,615,1,2.5,0,0,0,10,0.8,131,...,1216,1786,2769,16,8,11,1,0,0,2
4,5,1821,1,1.2,0,13,1,44,0.6,141,...,1208,1212,1411,8,2,15,1,1,0,1

In [48]:
df["price_range"].value_counts()

1    1500
2    1500
3    1500
0    1500
Name: price_range, dtype: int64

In [5]:
#df1=pd.get_dummies(df, columns=['clock_speed', 'mobile_wt'])

In [6]:
#df1.head()

from sklearn.preprocessing import OneHotEncoder

enc=OneHotEncoder()
enc_data=pd.DataFrame(enc.fit_transform(df[['battery_power']]).toarray())
df=df.join(enc_data)

In [49]:
df.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1,842,0,2.2,0,1,0,7,0.6,188,...,20,756,2549,9,7,19,0,0,1,1
1,2,1021,1,0.5,1,0,1,53,0.7,136,...,905,1988,2631,17,3,7,1,1,0,2
2,3,563,1,0.5,1,2,1,41,0.9,145,...,1263,1716,2603,11,2,9,1,1,0,2
3,4,615,1,2.5,0,0,0,10,0.8,131,...,1216,1786,2769,16,8,11,1,0,0,2
4,5,1821,1,1.2,0,13,1,44,0.6,141,...,1208,1212,1411,8,2,15,1,1,0,1

In [53]:
X_train=df[df.columns[0:-1]]

In [54]:
X_train.shape

(6000, 21)

In [55]:
y_train=df[df.columns[-1]]

In [56]:
y_train

0       1
1       2
2       2
3       2
4       1
       ..
5995    0
5996    2
5997    3
5998    0
5999    3
Name: price_range, Length: 6000, dtype: int64

In [10]:
#df=df1

In [57]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [58]:
sc.fit(X_train)
df = sc.transform(X_train)

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [44]:
X_train=df[0:-1]

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [29]:
y_train=df[-1]

In [69]:
df

array([[-1.73176216, -0.91237248, -0.9900495 , ..., -1.78686097,
        -1.00601811,  0.98609664],
       [-1.73118481, -0.50495343,  1.0100505 , ...,  0.55964063,
         0.99401789, -1.01409939],
       [-1.73060746, -1.54739994,  1.0100505 , ...,  0.55964063,
         0.99401789, -1.01409939],
       ...,
       [ 1.73060746,  1.52076141, -0.9900495 , ...,  0.55964063,
         0.99401789, -1.01409939],
       [ 1.73118481,  0.61260386, -0.9900495 , ...,  0.55964063,
         0.99401789,  0.98609664],
       [ 1.73176216, -1.66803239,  1.0100505 , ...,  0.55964063,
         0.99401789,  0.98609664]])

In [43]:
X_train.shape

(5999, 22)

In [61]:
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [62]:
X_test=X_train

In [63]:
y_test=clf.predict(X_test)

In [64]:
y_test

array([2, 3, 3, ..., 3, 0, 2], dtype=int64)

In [65]:
X_val=X_train

In [66]:
y_val=y_train

In [67]:
X_val.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,842,0,2.2,0,1,0,7,0.6,188,...,2,20,756,2549,9,7,19,0,0,1
1,2,1021,1,0.5,1,0,1,53,0.7,136,...,6,905,1988,2631,17,3,7,1,1,0
2,3,563,1,0.5,1,2,1,41,0.9,145,...,6,1263,1716,2603,11,2,9,1,1,0
3,4,615,1,2.5,0,0,0,10,0.8,131,...,9,1216,1786,2769,16,8,11,1,0,0
4,5,1821,1,1.2,0,13,1,44,0.6,141,...,14,1208,1212,1411,8,2,15,1,1,0

In [70]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [71]:
from sklearn.preprocessing import MaxAbsScaler
ma = MaxAbsScaler()

In [72]:
from sklearn.preprocessing import RobustScaler

rs = RobustScaler()