In [63]:
import numpy as np
import pandas as pd

In [64]:
%cd "C:\Users\srava\Downloads"

C:\Users\srava\Downloads

# 2018 movies

In [112]:
genre18=pd.read_csv("genre18.csv")

In [113]:
movie18=pd.read_csv("movie18.csv")

In [114]:
movie18.shape

(272, 3)

In [115]:
pd.set_option("display.max_rows",None,"display.max_columns",None)

In [116]:
gen1850=genre18.iloc[50:249]

In [117]:
gen1850.head()

,Unnamed: 0,title,genre
50,0,"['The Nightingale', 'The House That Jack Built...","['Adventure, Drama, Thriller', 'Crime, Drama, ..."
51,1,"['Extinction', ""At Eternity's Gate"", 'Instant ...","['Action, Drama, Sci-Fi', 'Biography, Drama, H..."
52,2,"['On the Basis of Sex', 'MILF', 'White Boy Ric...","['Biography, Drama', 'Comedy', 'Crime, Drama',..."
53,3,"['Fahrenheit 451', 'The Darkest Minds', 'Boy E...","['Drama, Sci-Fi, Thriller', 'Action, Adventure..."
54,4,"['Gringo', 'I Can Only Imagine', 'Unfriended: ...","['Action, Comedy, Crime', 'Biography, Drama, F..."

In [118]:
gen1850.drop(["Unnamed: 0"],axis=1,inplace=True)

C:\Users\srava\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [119]:
import ast

In [120]:
gen1850["title"]=gen1850["title"].apply(lambda x :ast.literal_eval(x))

C:\Users\srava\AppData\Local\Temp/ipykernel_8216/1068166817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gen1850["title"]=gen1850["title"].apply(lambda x :ast.literal_eval(x))

In [121]:
gen1850["genre"]=gen1850["genre"].apply(lambda x :ast.literal_eval(x))

C:\Users\srava\AppData\Local\Temp/ipykernel_8216/1291146049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gen1850["genre"]=gen1850["genre"].apply(lambda x :ast.literal_eval(x))

In [122]:
gen1850=gen1850.reset_index(drop=True)

In [123]:
ge18=pd.DataFrame({})
for i in range(199):
    d=pd.DataFrame(list(zip(list(gen1850.iloc[i]["title"]),list(gen1850.iloc[i]["genre"]))),columns=["title","genre"])
    ge18=pd.concat([ge18,d],axis=0)

In [124]:
ge18.head()

                       title                         genre
0            The Nightingale    Adventure, Drama, Thriller
1  The House That Jack Built          Crime, Drama, Horror
2              Incredibles 2  Animation, Action, Adventure
3             Den of Thieves          Action, Crime, Drama
4    A Million Little Pieces                         Drama

In [125]:
ge18=pd.concat([genre18.iloc[0:50],ge18])

In [126]:
ge18.shape

(9649, 3)

In [127]:
ge18=ge18.reset_index(drop=True)

In [128]:
movie18["title"]=movie18["title"].str.lower()

In [129]:
ge18["title"]=ge18["title"].str.lower()

In [130]:
ge18.head()

   Unnamed: 0                              title                         genre
0         0.0               mary poppins returns     Adventure, Comedy, Family
1         1.0  spider-man: into the spider-verse  Animation, Action, Adventure
2         2.0                              venom     Action, Adventure, Sci-Fi
3         3.0             avengers: infinity war     Action, Adventure, Sci-Fi
4         4.0                   ready player one     Action, Adventure, Sci-Fi

In [131]:
ge18.drop(["Unnamed: 0"],axis=1,inplace=True)

In [132]:
ge18.head()

                               title                         genre
0               mary poppins returns     Adventure, Comedy, Family
1  spider-man: into the spider-verse  Animation, Action, Adventure
2                              venom     Action, Adventure, Sci-Fi
3             avengers: infinity war     Action, Adventure, Sci-Fi
4                   ready player one     Action, Adventure, Sci-Fi

In [133]:
#merging 2018 movies cast & crew dataset and their respective genres
moviefinal18=pd.merge(movie18,ge18,on="title")

In [134]:
moviefinal18.drop("Unnamed: 0",axis=1,inplace=True)

In [135]:
moviefinal18.head()

,title,cast_and_crew,genre
0,insidious: the last key,Adam Robitel (director); Leigh Whannell (scree...,"Horror, Mystery, Thriller"
1,the commuter,Jaume Collet-Serra (director); Byron Willinger...,"Action, Mystery, Thriller"
2,proud mary,"Babak Najafi (director); John S. Newman, Chris...","Action, Crime, Drama"
3,acts of violence,Brett Donowho (director); Nicolas Aaron Mezzan...,"Action, Crime"
4,12 strong,"Nicolai Fuglsig (director); Peter Craig, Ted T...","Action, Drama, History"

# 2019 movies

In [137]:
movie19=pd.read_csv("movie19.csv")

In [138]:
genre19=pd.read_csv("genre19.csv")

In [139]:
genre19.head()

   Unnamed: 0                      title                         genre
0           0  Spider-Man: Far from Home     Action, Adventure, Sci-Fi
1           1          Avengers: Endgame      Action, Adventure, Drama
2           2                 Knives Out          Comedy, Crime, Drama
3           3                      Klaus  Animation, Adventure, Comedy
4           4               Little Women                Drama, Romance

In [140]:
gen1950=genre19.iloc[50:249]

In [141]:
gen1950.drop("Unnamed: 0",axis=1,inplace=True)

C:\Users\srava\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [142]:
gen1950=gen1950.reset_index(drop=True)

In [143]:
gen1950["title"]=gen1950["title"].apply(lambda x :ast.literal_eval(x))

In [144]:
gen1950["genre"]=gen1950["genre"].apply(lambda x :ast.literal_eval(x))

In [145]:
ge19=pd.DataFrame({})
for i in range(199):
    #print(i)
    d=pd.DataFrame(list(zip(list(gen1950.iloc[i]["title"]),list(gen1950.iloc[i]["genre"]))),columns=["title","genre"])
    #print(d)
    ge19=pd.concat([ge19,d],axis=0)

In [146]:
ge19=ge19.reset_index(drop=True)

In [147]:
ge19=pd.concat([genre19.iloc[0:50].drop("Unnamed: 0",axis=1),ge19])

In [148]:
#merging 2019 movies cast & crew dataset with their respective genres
moviefinal19=pd.merge(movie19,ge19,on="title")

In [151]:
moviefinal19.drop("Unnamed: 0",axis=1,inplace=True)

# Movies 2020

In [153]:
movie20=pd.read_csv("movie20.csv")

In [154]:
genre20=pd.read_csv("genre20.csv")

In [155]:
genre20.head()

   Unnamed: 0                   title                     genre
0           0                 365 dni            Drama, Romance
1           1   Promising Young Woman     Crime, Drama, Mystery
2           2                   Tenet  Action, Sci-Fi, Thriller
3           3              The Father            Drama, Mystery
4           4  The Devil All the Time    Crime, Drama, Thriller

In [156]:
gen2050=genre20.iloc[50:249]

In [157]:
gen2050.drop("Unnamed: 0",axis=1,inplace=True)

C:\Users\srava\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [158]:
gen2050=gen2050.reset_index(drop=True)

In [159]:
gen2050["title"]=gen2050["title"].apply(lambda x :ast.literal_eval(x))

In [160]:
gen2050["genre"]=gen2050["genre"].apply(lambda x :ast.literal_eval(x))

In [161]:
ge20=pd.DataFrame({})
for i in range(199):
    #print(i)
    d=pd.DataFrame(list(zip(list(gen2050.iloc[i]["title"]),list(gen2050.iloc[i]["genre"]))),columns=["title","genre"])
    #print(d)
    ge20=pd.concat([ge20,d],axis=0)

In [162]:
ge20=ge20.reset_index(drop=True)

In [163]:
ge20=pd.concat([genre20.iloc[0:50].drop("Unnamed: 0",axis=1),ge20],axis=0)

In [164]:
#merging 2020 movies cast & crew dataset and their respective genres
moviefinal20=pd.merge(movie20,ge20,on="title")

In [168]:
moviefinal20.drop("Unnamed: 0",axis=1,inplace=True)

# 2021 movies

In [170]:
movie21=pd.read_csv("movie21.csv")

In [171]:
genre21=pd.read_csv("genre21.csv")

In [172]:
gen2150=genre21.iloc[50:249]

In [173]:
gen2150.drop("Unnamed: 0",axis=1,inplace=True)

C:\Users\srava\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [174]:
gen2150=gen2150.reset_index(drop=True)

In [175]:
gen2150["title"]=gen2150["title"].apply(lambda x :ast.literal_eval(x))

In [176]:
gen2150["genre"]=gen2150["genre"].apply(lambda x :ast.literal_eval(x))

In [177]:
ge21=pd.DataFrame({})
for i in range(199):
    #print(i)
    d=pd.DataFrame(list(zip(list(gen2150.iloc[i]["title"]),list(gen2150.iloc[i]["genre"]))),columns=["title","genre"])
    #print(d)
    ge21=pd.concat([ge21,d],axis=0)

In [178]:
ge21=ge21.reset_index(drop=True)

In [179]:
ge21=pd.concat([genre21.iloc[0:50].drop("Unnamed: 0",axis=1),ge21])

In [180]:
#merging 2018 movies cast & crew dataset and their respective genres
moviefinal21=pd.merge(movie21,ge21,on="title")

In [183]:
moviefinal21.drop("Unnamed: 0",axis=1,inplace=True)

In [184]:
moviefinal=pd.concat([moviefinal18,moviefinal19,moviefinal20,moviefinal21],axis=0)

In [185]:
moviefinal.head()

,title,cast_and_crew,genre
0,insidious: the last key,Adam Robitel (director); Leigh Whannell (scree...,"Horror, Mystery, Thriller"
1,the commuter,Jaume Collet-Serra (director); Byron Willinger...,"Action, Mystery, Thriller"
2,proud mary,"Babak Najafi (director); John S. Newman, Chris...","Action, Crime, Drama"
3,acts of violence,Brett Donowho (director); Nicolas Aaron Mezzan...,"Action, Crime"
4,12 strong,"Nicolai Fuglsig (director); Peter Craig, Ted T...","Action, Drama, History"

In [187]:
moviefinal=moviefinal.reset_index(drop=True)

In [188]:
moviefinal.shape

(916, 3)

In [189]:
moviefinal.tail()

,title,cast_and_crew,genre
911,Sing 2,Garth Jennings (director/screenplay); Matthew ...,"Animation, Adventure, Comedy"
912,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,"Action, Adventure, Comedy"
913,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,"Drama, History, Thriller"
914,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama
915,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...","Biography, Drama, Sport"

In [191]:
moviefinal.to_csv("moviefinalnew.csv",index=False)