In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd "C:\Users\srava\Downloads"

C:\Users\srava\Downloads

In [3]:
moviedata2=pd.read_csv("moviedata2.csv")

C:\Users\srava\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
pd.set_option("display.max_columns",None)

In [5]:
moviedata2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
import datetime

In [7]:
moviedata2["release_date"]=pd.to_datetime(moviedata2["release_date"],errors="coerce")

In [8]:
moviedata2["release_date"].head()

0   1995-10-30
1   1995-12-15
2   1995-12-22
3   1995-12-22
4   1995-02-10
Name: release_date, dtype: datetime64[ns]

In [9]:
moviedata2["release_date"]=moviedata2["release_date"].dt.year

In [10]:
moviedata2.release_date.value_counts(dropna=False)

2014.0    1974
2015.0    1905
2013.0    1889
2012.0    1722
2011.0    1667
          ...
2020.0       1
1887.0       1
1878.0       1
1874.0       1
1883.0       1
Name: release_date, Length: 136, dtype: int64

# 2017 Movies

In [11]:
#Extracting only 2017 data as there is less data available in 2018,2019,2020 & 2021
movie17=moviedata2[moviedata2["release_date"]==2017.0]

In [12]:
movie17.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
26560,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://pirates.disney.com/pirates-of-the-carib...,166426,tt1790809,en,Pirates of the Caribbean: Dead Men Tell No Tales,"Thrust into an all-new paycheck, a down-on-his...",133.82782,/xbpSDU3p7YUGlu9Mr6Egg2Vweto.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,794191988.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pirates of the Caribbean: Dead Men Tell No Tales,False,6.6,2814.0
26561,False,"{'id': 468551, 'name': 'Justice League Collect...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.justiceleaguethemovie.com,141052,tt0974015,en,Justice League,Fueled by his restored faith in humanity and i...,25.944629,/9rtrRGeRnL0JKtu9IMBWsmlmmZz.jpg,"[{'name': 'DC Comics', 'id': 429}, {'name': 'K...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Justice League,False,0.0,0.0
26565,False,"{'id': 131296, 'name': 'Thor Collection', 'pos...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/222/thor_ragnarok,284053,tt3501632,en,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,57.283628,/avy7IR8UMlIIyE2BPCI4plW4Csc.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Thor: Ragnarok,False,0.0,0.0
26566,False,"{'id': 284433, 'name': 'Guardians of the Galax...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,283995,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,185.330992,/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,863416141.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0
30536,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,245842,tt2328678,en,The King's Daughter,King Louis XIV's quest for immortality leads h...,1.138419,/xBLskcmADJYJrDw3O04XdMvrE2m.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,What on Earth Can Hold More Power Than a King?,The King's Daughter,False,0.0,4.0

In [13]:
#Reading movie credits data 
credits=pd.read_csv("creditsmovie.csv")

In [14]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [15]:
import ast

In [16]:
credits["crew"]=credits["crew"].apply(lambda x : ast.literal_eval(x))
credits["cast"]=credits["cast"].apply(lambda x : ast.literal_eval(x))
movie17["id"]=movie17["id"].apply(lambda x : ast.literal_eval(x))

C:\Users\srava\AppData\Local\Temp/ipykernel_17360/2951307673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie17["id"]=movie17["id"].apply(lambda x : ast.literal_eval(x))

In [17]:
final=pd.merge(credits,movie17,on="id",how="inner")

In [18]:
pd.set_option("display.max_columns",None)

In [19]:
final.head()

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",166426,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://pirates.disney.com/pirates-of-the-carib...,tt1790809,en,Pirates of the Caribbean: Dead Men Tell No Tales,"Thrust into an all-new paycheck, a down-on-his...",133.82782,/xbpSDU3p7YUGlu9Mr6Egg2Vweto.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,794191988.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pirates of the Caribbean: Dead Men Tell No Tales,False,6.6,2814.0
1,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",141052,False,"{'id': 468551, 'name': 'Justice League Collect...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.justiceleaguethemovie.com,tt0974015,en,Justice League,Fueled by his restored faith in humanity and i...,25.944629,/9rtrRGeRnL0JKtu9IMBWsmlmmZz.jpg,"[{'name': 'DC Comics', 'id': 429}, {'name': 'K...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Justice League,False,0.0,0.0
2,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",284053,False,"{'id': 131296, 'name': 'Thor Collection', 'pos...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/222/thor_ragnarok,tt3501632,en,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,57.283628,/avy7IR8UMlIIyE2BPCI4plW4Csc.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Thor: Ragnarok,False,0.0,0.0
3,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",283995,False,"{'id': 284433, 'name': 'Guardians of the Galax...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,185.330992,/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017.0,863416141.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0
4,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",245842,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,tt2328678,en,The King's Daughter,King Louis XIV's quest for immortality leads h...,1.138419,/xBLskcmADJYJrDw3O04XdMvrE2m.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2017.0,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,What on Earth Can Hold More Power Than a King?,The King's Daughter,False,0.0,4.0

In [20]:
final.shape

(531, 26)

In [21]:
director=[]
for x in final["crew"]:
    mix=[]
    for f in x:
        for h in f:
            if f[h] == "Director":
                mix.append(f["name"])
    director.append(mix)

In [22]:
actorname1=[]
for x in final["cast"]:
    if x == []:
        y=np.nan
    else:
        y=x[0]["name"]
    actorname1.append(y)

In [23]:
actorname2=[]
for h in final["cast"]:
    if len(h)<2:
        y=np.nan
    else:
        y=h[1]["name"]
    actorname2.append(y)

In [24]:
actorname3=[]
for h in final["cast"]:
    if len(h)<3:
        y=np.nan
    else:
        y=h[2]["name"]
    actorname3.append(y)

In [25]:
final["genres"]=final["genres"].apply(lambda x : ast.literal_eval(x))

In [26]:
genre=[]
for t in final["genres"]:
    grp=[]
    for l in t :
        for d in l :
            if d == "name":
                grp.append(l[d])
    genre.append(grp)

In [27]:
final["genre"]=genre

In [28]:
final["genre"]=final["genre"].apply(lambda x : " ".join(x))

In [29]:
final["director_name"]=director

In [30]:
final["actor_1_name"]=actorname1

In [31]:
final["actor_2_name"]=actorname2

In [32]:
final["actor_3_name"]=actorname3

In [33]:
finalnew2=pd.DataFrame({})

In [34]:
finalnew2[["director_name","actor_1_name","actor_2_name","actor_3_name","movie_title","genres"]]=final[["director_name","actor_1_name","actor_2_name","actor_3_name","title","genre"]]

In [35]:
finalnew2

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,"[Joachim Rønning, Espen Sandberg]",Johnny Depp,Javier Bardem,Geoffrey Rush,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy
1,[Zack Snyder],Ben Affleck,Henry Cavill,Gal Gadot,Justice League,Action Adventure Fantasy Science Fiction
2,[Taika Waititi],Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Thor: Ragnarok,Action Adventure Fantasy Science Fiction
3,[James Gunn],Chris Pratt,Zoe Saldana,Dave Bautista,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Science Fiction
4,[Sean McNamara],Pierce Brosnan,William Hurt,Benjamin Walker,The King's Daughter,Fantasy Action Adventure
...,...,...,...,...,...,...
526,[Hannaleena Hauru],Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Thick Lashes of Lauri Mäntyvaara,Romance Comedy
527,[Jonathan A. Rosenbaum],Lou Diamond Phillips,Wallace Shawn,Gina Holden,Cop and a Half: New Recruit,Crime Comedy Action Family
528,"[Beth David, Esteban Bravo]",NaN,NaN,NaN,In a Heartbeat,Family Animation Romance Comedy
529,[Ravi Udyawar],Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Mom,Crime Drama Thriller
530,[Daisy Asquith],NaN,NaN,NaN,Queerama,

In [36]:
finalnew2["director_name"]=finalnew2["director_name"].apply(lambda x :x[0] if x!=[] else "Not Available")

In [37]:
finalnew2["actor_1_name"].fillna("Not Available",inplace=True)

In [38]:
finalnew2["actor_2_name"].fillna("Not Available",inplace=True)

In [39]:
finalnew2["actor_3_name"].fillna("Not Available",inplace=True)

In [40]:
finalnew2.isnull().sum().sort_values()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
genres           0
dtype: int64

In [41]:
finalnew2.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Justice League,Action Adventure Fantasy Science Fiction
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Thor: Ragnarok,Action Adventure Fantasy Science Fiction
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Science Fiction
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,The King's Daughter,Fantasy Action Adventure

In [42]:
finalnew2.shape

(531, 6)

In [43]:
finalnew2.to_csv("data2.csv",index=False)