In [41]:
import pandas as pd

In [42]:
import numpy as np

In [43]:
%cd "C:\Users\srava\Downloads"

C:\Users\srava\Downloads

In [44]:
moviefinal=pd.read_csv("moviefinalnew.csv")

In [45]:
#Now we are going to extract the director names and actor names from the cast & crew column
moviefinal.head()

,title,cast_and_crew,genre
0,insidious: the last key,Adam Robitel (director); Leigh Whannell (scree...,"Horror, Mystery, Thriller"
1,the commuter,Jaume Collet-Serra (director); Byron Willinger...,"Action, Mystery, Thriller"
2,proud mary,"Babak Najafi (director); John S. Newman, Chris...","Action, Crime, Drama"
3,acts of violence,Brett Donowho (director); Nicolas Aaron Mezzan...,"Action, Crime"
4,12 strong,"Nicolai Fuglsig (director); Peter Craig, Ted T...","Action, Drama, History"

In [46]:
moviefinal.shape

(916, 3)

In [47]:
moviefinal["director_and_actor"]=moviefinal["cast_and_crew"].apply(lambda x :[b for b in x.split(",") if "director" in b] )

In [48]:
moviefinal["director_name"]=moviefinal["director_and_actor"].apply(lambda x :[b for b in x[0].split(";") if "director" in b] if x!=[] else "Not Available")

In [49]:
pd.set_option("display.max_rows",None,"display.max_columns",None)

In [50]:
moviefinal["director_name"]=moviefinal["director_name"].apply(lambda x : x[0].strip("'(director)','(director/​screenplay)','(directors)','(director/screenw'"))

In [51]:
moviefinal["director_name"]=moviefinal["director_name"].apply(lambda x: x.strip("(director): Tom K"))

In [52]:
moviefinal["actors"]=moviefinal["director_and_actor"].apply(lambda x : [b for b in x[0].split(";") if "(director)" not in b  and  "(screenplay)" not in b  and "(director/screenplay)" not in b and "(director/​screenplay)" not in b  and "(directors)" not in b and "(co-director)" not in b and "(directors/screenplay)" not in b and "(director/screenpaly)" not in b and "(co-director/screenplay)" not in b and "(writer)" not in b and "(director" not in b and "(screeplay)" not in b and "(screenwriter)" not in b and "(director/screenwriter)" not in b and "(screenwriter)" not in b and "(screenpaly)" not in b and "(director/screenwriter)" not in b and "(director/sceenplay)" not in b and "(screnplay)" not in b ] if x!=[] else "Not Available")

In [53]:
moviefinal["actors"]=moviefinal["actors"].apply(lambda x : x[0] if x!=[] else "Not Available")

In [54]:
moviefinal["actor2"]=moviefinal["cast_and_crew"].str.split(",")

In [55]:
moviefinal["actor2"]=moviefinal["actor2"].apply(lambda x:x[1] if (len(x)>=2 and ("(director)"  not in x[1]) and ("(director)" not in x[1]) and ("(director/screenplay)" not in x[1]) and ("(directors)" not in x[1]) and ("(screenplay)" not in x[1]) and ("(directors/screenplay)" not in x[1]) and ("(screenplay/story)" not in x[1]) and "screenplay)" not in x[1] and "(co-director)" not in x[1] and "(story)" not in x[1] and "(director/screenpaly)" not in x[1] and "(directors)" not in x[1] and "(director" not in x[1])  else x[0] if (("(director)" not in x[0]) and ("(director/screenplay)" not in x[0]) and "(directors/screenplay)" not in x[0] and "(screenplay/story)" not in x[0] and "screenplay)" not in x[0] and "(co-director)" not in x[0] and "(story)" not in x[0] and "(director/screenpaly)" not in x[0] and "(directors)" not in x[0] and "(director" not in x[0]) else x[2] if len(x)>=2 else "Not Available")

In [56]:
moviefinal["actor3"]=moviefinal["cast_and_crew"].str.split(",")

In [57]:
moviefinal["actor3"]=moviefinal["actor3"].apply(lambda x : x[3] if len(x)>=4 and "(screenplay)" not in x[3] else x[4] if len(x)>=5 else "Not Available")

In [58]:
movienew=pd.DataFrame({})

In [59]:
movienew[["director_name","genres","actor_1_name","actor_2_name","actor_3_name","movie_title"]]=moviefinal[["director_name","genre","actors","actor2","actor3","title"]]

In [61]:
movienew.tail()

,director_name,genres,actor_1_name,actor_2_name,actor_3_name,movie_title
911,Garth Jennings,"Animation, Adventure, Comedy",Matthew McConaughey,Reese Witherspoon,Taron Egerton,Sing 2
912,Matthew Vaughn,"Action, Adventure, Comedy",Ralph Fiennes,Gemma Arterton,Matthew Goode,The King's Man
913,Joel Coen,"Drama, History, Thriller",Denzel Washington,Frances McDormand,Alex Hassell,The Tragedy of Macbeth
914,Denzel Washington,Drama,Michael B. Jordan,Chanté Adams,Not Available,A Journal for Jordan
915,Erwin brothers,"Biography, Drama, Sport",Jon Erwin,David Aaron Cohen,Anna Paquin,American Underdog

In [62]:
import re

In [63]:
movienew["genres"]=movienew["genres"].apply(lambda x : re.sub(r'[^A-Za-z]'," ",x))

In [64]:
movienew.head()

,director_name,genres,actor_1_name,actor_2_name,actor_3_name,movie_title
0,Adam Robitel,Horror Mystery Thriller,Lin Shaye,Angus Sampson,Spencer Locke,insidious: the last key
1,Jaume Collet-Serra,Action Mystery Thriller,Byron Willinger,Vera Farmiga,Patrick Wilson,the commuter
2,Babak Najaf,Action Crime Drama,John S. Newman,Billy Brown,Danny Glover,proud mary
3,Brett Donowh,Action Crime,Bruce Willis,Cole Hauser,Melissa Bolona,acts of violence
4,Nicolai Fuglsig,Action Drama History,Peter Craig,Michael Shannon,Michael Peña,12 strong

In [40]:
movienew.isnull().sum()

director_name    0
genres           0
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
dtype: int64

In [65]:
movieold=pd.read_csv("data1.csv")

In [66]:
movieold2=pd.read_csv("data2.csv")

In [67]:
finalmoviedata_all=pd.concat([movieold,movieold2,movienew],axis=0)

In [69]:
finalmoviedata_all=finalmoviedata_all.reset_index(drop=True)

In [70]:
finalmoviedata_all.shape

(6490, 6)

In [71]:
finalmoviedata_all.isnull().sum()

director_name    0
genres           7
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
dtype: int64

In [72]:
finalmoviedata_all["genres"].fillna("Not Available",inplace=True)

In [74]:
finalmoviedata_all["movie_title"]=finalmoviedata_all["movie_title"].str.lower()

In [75]:
finalmoviedata_all['comb'] = finalmoviedata_all['actor_1_name'] + ' ' + finalmoviedata_all['actor_2_name'] + ' '+ finalmoviedata_all['actor_3_name'] + ' '+ finalmoviedata_all['director_name'] +' ' + finalmoviedata_all['genres']

In [77]:
finalmoviedata_all.head()

,director_name,genres,actor_1_name,actor_2_name,actor_3_name,movie_title,comb
0,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Documentary,Doug Walker,Rob Walker,Not Available,star wars: episode vii - the force awakens,Doug Walker Rob Walker Not Available Doug Walk...

In [78]:
pd.set_option("display.max_colwidth",None)

In [84]:
finalmoviedata_all.to_csv("finalmoviedata_all.csv",index=False)